.apply-wrapper {
  background: linear-gradient(180deg, #4C6085 0%, #02356C 100%);
  min-height: 100vh;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-links {
  width: 100%;
  color:white;
  display: flex;
  justify-content: end;
  padding: 10px 20px 0 0;
  margin-bottom: 40px;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}

.apply-links > a {
  margin: 0px 5px 0 5px;
}
.apply-links:hover {
  color: #A5D0F0;
  transition: ease-in-out all 0.3s;
}

.apply-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
  /* margin: 80px; */
  border-radius: 50px;
  padding: 80px;
  width: 80%;
}

.apply-table {
  width: 100%;
}
.apply-row {
  width: 100%;
}
.apply-col {
  width: 45%;
}
.apply-col-gap {
  width: 10px;
}
.apply-submit {
  column-span: 3;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apply-submit > button {
  margin: 20px 0;
}

.protect-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.protect-icon {
  transform: scale(1.3);
  margin-right: 10px;
}