.svc-banner {
  height: 400px;
  background: #02356C;
  background-image: url("images/loan.jpeg"); /* fallback */
  background-image:  linear-gradient(to bottom, rgba(76, 96, 133, 0.52), rgba(2, 53, 108, 1)),
  url('images/loan.jpeg');
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.svc-triangle-down {
  width: 0; 
  height: 0; 
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  
  border-top: 180px solid #02356C;
}

.banner-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 700px;
  height: 200px;

  top: 200px;
  left: 100px;

}
.banner-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 80px 80px 0 0;
}

.banner-img {
  background-color: grey;
  width: 335px;
  height: 480px;
  right: -100px;
}

.banner-button {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.home-about {
  display: flex;
  padding: 80px;
}

.home-about-left {
  flex: 1;
  height: 100%;
}

#home-about-par {
  margin-top: 50px;
}

.home-about-right {
  flex: 1;
  height: 100%;
  padding-left: 50px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.home-box {
  width: 250px;
  height: 250px;
  background-color: #02356C;
  color: white;
  border-radius: 50px;
  margin: 0 10px 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #02356C;
  margin: 80px;
  border-radius: 50px;
  padding: 50px;
}

#carouselPersonalisedSvc {
  width: 100%;
}

.home-services-cards {
  display: flex;
  flex-direction: row;
}

.svc-card {
  width: 20%;
  margin: 0;
}

/* service.html banner */
.arrow-home-banner {
  height: 200px;
  position: relative;
  background: linear-gradient(1.36deg, #02356C 8.45%, #4C6085 76.89%);
}
.arrow-banner {
  width: 100%;
  top: 25%;
}
.bottom-triangle {
  position:relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
}
.bottom-banner {
  height: 200px;
  position: relative;
  background-color:#02356C;
}



/* body of service.html */
.svc-about {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  margin-top: 100px;
}

.row {
  margin-bottom: 80px;
}


.double-box {
  position: relative;
  transition: ease-in-out all 0.3s;
}

.double-box-light {
  position: relative;
  transition: ease-in-out all 0.3s;
}

.double-box:hover, .double-box-light:hover {
  transform: scale(1.05);
  transition: ease-in-out all 0.3s;
}

.img-double-box{
  position:absolute;
  top: 40px;
  left: 120px;
  z-index: 2;
  height: 220px;
  width: 350px;
  object-fit: cover;
}


/* Loan news */

.svc-news {
  display: flex;
  justify-content: center;
  padding: 0 80px 80px 80px;
  margin-bottom: 100px;
}

.svc-news-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #02356C;
  padding: 50px 30px;
  border-radius: 80px;
}
.news-icon {
  font-size: 60px;
}

.news-title {
  margin-right: 50px;
  flex: 1;
}

.news-cards {
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-evenly;
}


/* review  */
.testimonial-card {
  width: 30%;
  height: 80%;
}

.card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}


/* FOOTER STYLES */
.foot-top {
  background-color: #4C6085;
  padding: 70px;
}

.foot-bottom {
  background-color: #FFFFFF;
}

/* clock */
.clock-title {
  text-align: center;
}
