body {
  margin: 0px;
  width: 100vw;
  min-width: 1280px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Public Sans', arial, sans-serif;
  color:#02356C;
}

/* TEXT STYLES */
h1 {
  font-family: 'Public Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-family: 'Nunito', sans-serif;
}

.white {
  color: white;
}

.beige {
  color: #F5E9C2;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* BUTTON STYLES */

.primarybutton {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color:#02356C;
  color: white;
  border: none;
  transition: ease-in-out all 0.3s;
}
.primarybutton:hover {
  color:white;
  background-color: #4C6085;
  /* border: 3px solid #02356C; */
  transition: ease-in-out all 0.3s;
}

.primarybutton-white {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  color:#02356C;
  background-color: white;
  border: none;
  /* border: 3px solid #02356C; */
  transition: ease-in-out all 0.3s;
}

.primarybutton-white:hover {
  background-color:#4C6085;
  color: white;
  /* border: 3px solid #02356C; */
  transition: ease-in-out all 0.3s;
}

.nav-primarybutton {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color:#02356C;
  color: white;
  border: none;
  transition: ease-in-out all 0.3s;
}

.nav-primarybutton:hover {
  color:white;
  background-color: #4C6085;
  /* border: 3px solid #02356C; */
  transition: ease-in-out all 0.3s;
}

.foot-primarybutton-white {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color:#02356C;
  background-color: white;
  border: none;
  /* border: 3px solid #02356C; */
  transition: ease-in-out all 0.3s;
}

.foot-primarybutton-white:hover {
  background-color:#4C6085;
  color: white;
  /* border: 3px solid #02356C; */
  transition: ease-in-out all 0.3s;
}

/* HEADER STYLES */

.navbar {
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: white;

}

/* .nav-link:active{
  background-color: #111;
} */

.home-banner {
  height: 700px;
  position: relative;
  background: linear-gradient(1.36deg, #02356C 8.45%, #4C6085 76.89%);
}

.ellipse-banner {
  position: absolute;
  left: -200px;
  top: -20px;
  z-index: 0;
}

.banner-wrapper {
  /* display: flex; */
  position: relative;
  /* padding: 80px; */
  height: 100%;
}

.banner-left {
  /* flex: 2; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 700px;
  height: 200px;

  top: 200px;
  left: 100px;

}
.banner-right {
  /* flex: 1; */
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 80px 80px 0 0;
  /* position: relative; */
}

.banner-img {
  /* position: absolute; */
  background-color: grey;
  width: 335px;
  height: 480px;
  right: -100px;
}

.banner-button {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.home-about {
  display: flex;
  padding: 80px;
}

.home-about-left {
  flex: 1;
  height: 100%;
}

#home-about-par {
  margin-top: 50px;
}

.home-about-right {
  flex: 1;
  height: 100%;
  padding-left: 50px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.home-box {
  width: 250px;
  height: 250px;
  background-color: #02356C;
  color: white;
  border-radius: 50px;
  margin: 0 10px 20px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #02356C;
  margin: 80px;
  border-radius: 50px;
  padding: 50px;
}

#carouselPersonalisedSvc {
  width: 100%;
}

.home-services-cards {
  display: flex;
  flex-direction: row;
}

.svc-card {
  width: 20%;
  margin: 0;
}

/* FOOTER STYLES */
.foot-top {
  background-color: #4C6085;
  padding: 70px;
}

.foot-bottom {
  background-color: #FFFFFF;
}
