body {
  margin: 0px;
  width: 100vw;
  min-width: 1280px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family:arial, sans-serif;
}

h1 {
  font-family: 'Public Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-family: 'Nunito', sans-serif;
}

.white {
  color: white;
}

.beige {
  color: #F5E9C2;
}

/* HEADER STYLES */

.navbar {
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: white;
}

.home-banner {
  height: 700px;
  position: relative;
  background: linear-gradient(1.36deg, #02356C 8.45%, #4C6085 76.89%);
}

.ellipse-banner {
  position: absolute;
  left: -200px;
  top: -20px;
  z-index: 0;
}

.banner-wrapper {
  /* display: flex; */
  position: relative;
  /* padding: 80px; */
  height: 100%;
}

.banner-left {
  /* flex: 2; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 700px;
  height: 200px;

  top: 200px;
  left: 100px;

}
.banner-right {
  /* flex: 1; */
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 80px 80px 0 0;
  /* position: relative; */
}

.banner-img {
  /* position: absolute; */
  background-color: grey;
  width: 335px;
  height: 480px;
  right: -100px;
}